<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if (!username) { %>
    <form class="form-inline my-1" action="/login" method="POST">
      <div>
        <input class="form-control mr-2" type="text" name="username" placeholder="Username" style="width: 170px">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
    <% } else { %>
    <form class="form-inline my-1" action="/logout" method="POST">
      <div>
        Logged in as: <%= username %>
        <button type="submit" class="btn btn-primary ml-3">Logout</button>
      </div>
    </form>
    <% } %>
  </nav>
</header>